<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Talks.cam demonstration #2</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="http://www.asnc.cam.ac.uk/asncstyle.css">
<style type="text/css">
<!--
.style3 {font-size: 110%}
.warn {color: red; text-align:center;font-weight:bold;border-bottom: 1px solid black; padding-bottom:10px;}
-->
</style>
</head>


<p class='warn'>NOTE THIS PAGE IS NOT REAL. It is a demonstration of talks.cam capabilities. See <a href='http://www.asnc.cam.ac.uk/events.htm'>the original page</a></p>


<body bgcolor="#FFFFFF" text="#000000" link="#003399" alink="#cc0000" vlink="cc3333">
<a name="top"></a>
<table width="100%" border="0" cellpadding="3">
<tr>
    <td width="15%"> 
      <p align="center"><a href="http://www.cam.ac.uk/"> <img src="http://www.asnc.cam.ac.uk/Buttons/identifier.jpg" alt="University of Cambridge Homepage" 
	  border="0" width="204" height="42" vspace="2"></a><br>
        <a href="index.htm"> <img src="http://www.asnc.cam.ac.uk/Buttons/asnc-logo.gif" alt="Anglo-Saxon, Norse, and Celtic Homepage" 
		border="0" width="204" height="63"></a></p>
    </td>
    <td width="85%">
      <h1>Events</h1>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table class="linkbar" cellspacing="0">
		<tr><td class="link1"><a href="index.htm">ASNC Home</a><br>&nbsp;</td></tr>
		<tr><td class="link1"><font color="#3333cc"><strong><em>For</em></strong></font></td></tr>
		<tr><td class="link1"><a href="prospective/index.htm">Prospective Students</a></td></tr>
        <tr><td class="link1"><a href="current/index.htm">Current Students</a></td></tr>
		<tr><td class="link1"><a href="alumni/index.htm">Alumni</a></td></tr>
		<tr><td class="link1"><a href="Visitors.htm">Visitors</a><br>&nbsp;</td></tr>
		<tr><td class="link1"><font color="#3333cc"><strong><em>About</em></strong></font></td></tr>
		<tr><td class="link1"><a href="department/index.htm">The Department</a></td></tr>
		<tr><td class="link1"><a href="study/index.htm">Subjects we Study</a></td></tr>
		<tr><td class="link1"><a href="Publications.htm">ASNC Publications</a></td></tr>
        <tr><td class="link1"><span class="current">Events</span></td></tr>
		<tr><td class="link2">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#admin">Administrative Deadlines</a></td></tr>
		<tr><td class="link2">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#regular">Regular Events</a></td></tr>
		<tr><td class="link2">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#special">Special Events</a></td></tr>
		<tr><td class="link2">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#other">Other Events</a></td></tr>
		<tr><td class="link1"><a href="resource/index.htm">Resources</a></td></tr>
        <tr><td class="link1"><a href="Links.htm">Links</a><br>&nbsp;</td></tr>
		<tr><td class="link1"><a href="Contacts.htm">Contacts</a></td></tr>
		<tr><td class="link1"><a href="search.htm">Search</a></td></tr>
	  </table>
  	</td>
    <td valign="top"> 
<h2><a name="admin"></a>Administrative dates and deadlines</h2>
      <ul>
        <li><a href="current/currentug/ugadmincalendar.htm">Undergraduate Admin Calendar</a></li>
        <li><a href="current/currentgrad/gradmincalendar.htm">Graduate Admin Calendar</a></li>
        <li><a href="current/currentgrad/mphiltimetable.htm">M.Phil. Timetable</a> </li>
      </ul>
	  <hr>
<h2><a name="regular"></a>Regular Events</h2>
	  <p><span class="head3">Departmental Lecture Series</span><br>
	  The Departmental Lecture Series usually presents two or three guest speaker lectures per term.</p>
	
	
		<!-- This next line gets the content from talks.cam -->
		<script language="javascript" src="<%= @url %>"></script>
		<!-- That's all folks! -->     
    

  <div class="top"><a href="#top">Back to top</a></div><hr>
    </td>
  </tr>
  <tr>
  <td>&nbsp;
  </td>
    <td align="center"> <font size="-2"> <a href="index.htm">ASNC Home</a> - 
	<font color="#3333cc"><strong><em>For</em></strong></font> 
    <a href="prospective/index.htm">Prospective Students</a> - 
	<a href="current/index.htm">Current Students</a> - 
	<a href="alumni/index.htm">Alumni</a> - 
	<a href="visitors.htm">Visitors</a><br>
    <font color="#3333cc"><strong><em>About</em></strong></font> 
	<a href="department/index.htm">The Department</a> - 
	<a href="study/index.htm">Subjects we Study</a> - 
	<a href="publications.htm">Publications</a> - 
	<font color="#3333cc"><strong>Events</strong></font> - 
	<a href="resource/index.htm">Resources</a> - 
	<a href="links.htm">Links</a> - 
	<a href="contacts.htm">Contacts</a> -
	<a href="search.htm">Search</a> </font> 
    </td>
  </tr>
  <tr>
  <td align="center">
  <p>Last updated on<br>
        08 August 2006 </p>
  </td>
  <td align="center">
  <p>Please e-mail your comments to the
  <a href="mailto:asnc@hermes.cam.ac.uk">Webmaster</a></p>
  </td>
  </tr>
</table>
</body>
</html>
