<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<!-- Insert http-equiv headers before anything else -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en" />

<!--Insert page title here-->

  <title>Seminars: Heritage Researchers' Group</title>
  <link rel="stylesheet" type="text/css" href="http://www.arch.cam.ac.uk/style/camstyle.css" />

<!--insert suitable metadata here-->

  <meta name="description" content="Home page of the Heritage Researchers' Group at the Department of Archaeology at the University of Cambridge" />
  <meta name="keywords" content="archaeology, archeology, Cambridge, Heritage Researchers' Group, heritage theory and practice, " />
  <meta name="generator" content="Armadillo 2.0" />
  <meta name="ICBM" content="52.202868,0.121531" />
  <meta name="package" content="(TYPE=begin) Dublin Core" />
    <meta name="DC.title" content="Seminars: Heritage Researchers' Group" />
    <meta name="DC.title" content="(TYPE=long) Forthcoming Seminars: Heritage Researchers' Group, Department of Archaeology, University of Cambridge" />
    <meta name="DC.subject" content="(SCHEME=keyword) archaeology, archeology, Cambridge, Heritage Researchers' Group, heritage theory and practice, " />
    <meta name="DC.author" content="(TYPE=name) Patrizia Brusaferro" />
    <meta name="DC.author" content="(TYPE=email) " /> 
    <meta name="DC.author" content="(TYPE=postal) " />
    <meta name="DC.author" content="(TYPE=phone) 01223 333520" />
    <meta name="DC.author" content="(TYPE=fax) 01223 333503" />
    <meta name="DC.author" content="(TYPE=affiliation) Department of Archaeology, University of Cambridge" />
    <meta name="DC.author" content="(TYPE=homepage) " />
    <meta name="DC.publisher" content="(TYPE=name) Department of Archaeology, University of Cambridge" />
    <meta name="DC.publisher" content="(TYPE=email) webmaster@arch.cam.ac.uk" />
    <meta name="DC.publisher" content="(TYPE=homepage) http://www.arch.cam.ac.uk/webmaster/" />
    <meta name="DC.date" content="(TYPE=creation) (SCHEME=ISO31) 2006-02-23" />
    <meta name="DC.form" content="(SCHEME=imt) text/html" />
    <meta name="DC.identifier" content="(TYPE=url) http://www.arch.cam.ac.uk/heritage/" />
    <meta name="DC.language" content="(SCHEME=iso639) en" />
  <meta name="package" content="(TYPE=end) Dublin Core" />
  <style type="text/css">
	.warn {color: red; text-align:center;font-weight:bold;border-bottom: 1px solid black; padding-bottom:10px;}
  </style>
</head>

<body bgcolor="#ffffff" text="#000000" link="#003399" alink="#cc0000" vlink="#cc3333">

<!-- page header -->

<p class='warn'>NOTE THIS PAGE IS NOT REAL. It is a demonstration of talks.cam capabilities. See <a href='http://www.arch.cam.ac.uk/heritage/seminars.html'>the original page</a></p>

  <table cellpadding="0" cellspacing="0" border="0" width="98%" summary="navigation bar">
    <tr>
      <td bgcolor="#0099cc" width="98%"><img src="http://www.arch.cam.ac.uk/images/pixel.gif" class="block" width="1" height="16" alt="" /></td>
      <td align="right" width="159" rowspan="2">
        <table cellpadding="0" cellspacing="0" border="0" width="159">
          <tr>
            <td><a href="http://www.arch.cam.ac.uk/server/search.html"><img src="http://www.arch.cam.ac.uk/images/search.gif" class="block" width="53" height="18" border="0" alt="searching" /></a></td> 
            <td><a href="http://www.arch.cam.ac.uk/server/sitemap.html"><img src="http://www.arch.cam.ac.uk/images/az.gif" class="block" width="53" height="18" border="0" alt="A-Z index" /></a></td>
            <td><a href="http://www.arch.cam.ac.uk/server/help.html"><img src="http://www.arch.cam.ac.uk/images/help.gif" class="block" width="53" height="18" border="0" alt="Help" /></a></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#cccccc"><img src="http://www.arch.cam.ac.uk/images/pixel.gif" class="block" width="1" height="2" alt="" /></td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" width="98%" summary="departmental header">
    <tr>
      <td><a href="http://www.cam.ac.uk/"><img src="http://www.arch.cam.ac.uk/images/identifier2.gif" width="192" height="46" border="0" alt="University of Cambridge Home" /></a></td>

<!--Departmental name in next cell-->

      <td align="right" valign="bottom" class="deptitle">Department of Archaeology</td>
    </tr>
    <tr>
      <td bgcolor="#0099cc" colspan="3"><img src="http://www.arch.cam.ac.uk/images/pixel.gif" class="block" width="1" height="4" alt="" /></td>
    </tr>
    <tr>
      <td bgcolor="#cccccc" colspan="3"><img src="http://www.arch.cam.ac.uk/images/pixel.gif" class="block" width="1" height="2" alt="" /></td>
    </tr>
  </table>

<!-- end page header -->

<!-- breadcrumbs start --> <table cellpadding="0" cellspacing="0" border="0" width="98%" summary="breadcrumb navigation"> <tr> <!--Insert Department home page ref in breadcrumbs--> <td> <a href="http://www.cam.ac.uk/" class="bread">University&nbsp;of&nbsp;Cambridge</a>&nbsp;&gt;&nbsp;<a href="http://www.arch.cam.ac.uk/" class="bread">Department&nbsp;of&nbsp;Archaeology</a>&nbsp;&gt;&nbsp;<a href="http://www.arch.cam.ac.uk/heritage/" class="bread">Heritage Researchers Group</a> </td> </tr> </table> <!-- end breadcrumbs --> 

<!-- content -->

<br />

  <h1>Forthcoming Seminars: Heritage Researchers Group</h1>

		

     	<!-- This next line gets the content from talks.cam -->
		<script language="javascript" src="<%= @url %>"></script>
		<!-- That's all folks! -->     


<!-- footer -->

  <br />
  <table cellpadding="0" cellspacing="0" border="0" width="98%" summary="footer">
    <tr>
      <td bgcolor="#0099cc" colspan="2"><img src="http://www.arch.cam.ac.uk/images/pixel.gif" class="block" width="1" height="4" border="0" alt="" /></td>
    </tr>
    <tr>
      <td bgcolor="#cccccc" colspan="2"><img src="http://www.arch.cam.ac.uk/images/pixel.gif" class="block" width="1" height="2" border="0" alt="" /></td>
    </tr>
    <tr>
      <td>
        <div class="footer">

<!--Add Department name and email contact here-->

          <p>&copy; 2006--2006 University of Cambridge<br />
          Information provided by <a href="http://www.arch.cam.ac.uk/pg/#pb326">Patrizia Brusaferro</a><br />
          <a href="http://validator.w3.org/check/referer">Valid HTML?</a>&nbsp;|&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS?</a>&nbsp;|&nbsp;<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#97;&#114;&#99;&#104;&#46;&#99;&#97;&#109;&#46;&#97;&#99;&#46;&#117;&#107;">&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#97;&#114;&#99;&#104;&#46;&#99;&#97;&#109;&#46;&#97;&#99;&#46;&#117;&#107;</a><br />
          <a href="http://www.arch.cam.ac.uk/server/about.html">About this server</a>&nbsp;|&nbsp;<a href="http://www.arch.cam.ac.uk/server/privacy.html">Privacy policy</a> 
          </p>
        </div>
      </td>
    </tr>
  </table>

<!--  end footer -->

</body>
</html>

