<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Department of Zoology: Forthcoming events</title>
<!--<link rel="stylesheet" type="text/css" href="http://www.zoo.cam.ac.uk/style/camstyle.css" />
<style type="text/css" media="all">@import "/style/import.css";</style> -->
<style type="text/css">
<!--
body {background-color: #ffffff; color: #000000;}

p, ul, ol, li, table, td, dt, dd {font-family: Arial, Helvetica,
sans-serif; }
li {padding: 3px 0 1px  0;}
pre, tt {font-family: Courier, monospace; font-size: 90%;}
.noshow, .noshowsmall {display: none;}

a {text-decoration:none; }
a:link {color: #003399; font-family: Arial, Helvetica, sans-serif;}
a:visited {color: #cc3333; font-family: Arial, Helvetica, sans-serif;}
a:link:hover, a:visited:hover {text-decoration: underline; font-family:
Arial, Helvetica, sans-serif;}
a[href]:active {color: #cc0000; font-family: Arial, Helvetica, sans-serif;}

a.bread {font-size: 80%; font-weight: bold;}
a.small {font-size: 80%; }
a.univbread {font-size: 90%; font-weight: bold;}
p.small {font-size: 90%;}
p.smallc {font-size: 90%; text-align:center; font-weight: bold;}
p.bread {padding-top: 0px; margin-top: 0px;}
p.foot {font-size: 110%; text-align:center;}
div.c3 {text-align: center}
p.colour { font-family: Arial, Helvetica, sans-serif; font-size:
110%; border: none; width: 100%; background: #99ccff; text-align: center;}

.bigb {font-size: 110%; font-weight: bold;} 
.small {font-size: 90%;}
.deptitle {font-size: 140%; color: #000000; font-weight: bold;}
.title {font-size: 130%; color: #990000; font-weight: bold;}
.center {text-align:center;}
.footer {font-size: 80%; margin: 6px 0 6px  0;}
.smallc {font-size: 90%; text-align:center; font-weight: bold;}
.smallb {font-size: 90%; font-weight: bold;}
.smallr {font-size: 90%; text-align: right;}
.cpage {margin: auto;}
.widthlimit {width: 200px;}
.position {margin: 0 10px 0 10px}
.flash {background:#FFFF66; font-size: 90%;}
.current {padding: 2px; border:solid 2px #330066; font-size: 90%;}

h1 {font-weight: bold; font-size: 120%; color: #990000; font-family: Arial, Helvetica, sans-serif;}
h2 {font-weight: bold; font-size: 110%; color: #333333; font-family: Arial, Helvetica, sans-serif;}
h2.lsp {font-weight: bold; font-size: 110%; color: #333333; font-family: Arial, Helvetica, sans-serif; margin: 6px
0 2px 0;}
h2.nst {font-weight: bold; font-size: 110%; color: #333333; font-family: Arial, Helvetica, sans-serif;
margin: 12px 0 -6px 0;}
h2.col
{font-weight: bold; font-size: 110%; color: #333333; font-family: Arial, Helvetica, sans-serif; background:
#0099cc;margin: 1px 0 1px 0;}
h3 {font-weight: bold; font-style: italic; font-size: 100%; color: #333333; font-family:
Arial, Helvetica, sans-serif;}
h4 {font-weight: bold; font-size: 90%; color: #333333; font-family: Arial, Helvetica, sans-serif;}
h5 {font-weight: bold; font-size: 80%; color: #333333; font-family: Arial, Helvetica, sans-serif;}
.head {font-weight: bold; font-size: 90%; color: #333333; font-family:
Arial, Helvetica, sans-serif; margin:12px 0px 0px 0px;}

p.nav {font-size: 80%;}
.nav {font-size: 80%;}
span.activenav {font-size: 80%; color: #000000}

.null {font-size: 1px;}

.block {display: block;}

p.newnav {font-size: 80%; margin: 0.5em 0 0 0;}
span.newactivenav {font-size: 80%; color: #000000; margin: 0.5em 0 0 0;}
.alphaactivenav {background: 99ccff;}

li.sp {margin: 0.5em 0 0 0;}


h1.small  {font-weight: bold; font-size: 100%; color: #990000; line-height: 100%; font-family: arial, helvetica, sans-serif;}

.homeheading {font-weight: bold; font-size: 80%; font-family: arial, helvetica, sans-serif;  
color: #990000; margin: 6px 0 4px  0;}

a.homemenu  {font-weight: bold; font-family: arial, helvetica, sans-serif;}
a.homemenu2 {font-size: 80%; font-family: arial, helvetica, sans-serif;}
a.homemenulist {font-weight: bold; font-size: 90%; font-family: arial, helvetica, sans-serif;}

p.homealert {font-size: 80%; color: #990000; font-family: arial, helvetica, sans-serif;}
p.homenews {font-size: 80%; font-family: arial, helvetica, sans-serif;}


.linkcell { background: #003399; color: #ffffff }
a.cell { font-family: sans-serif; text-decoration:none }
a.cell:link { color: #ffffff } 
a.cell:visited { color: #ffffff } 
a.cell:active { color: #ffff33 }

div.box {width: 90%; padding: 10px; border: 2px solid #0099cc;}
div.leftbox {width: 160px; text-align: right; padding: 10px; padding-top: 0px; margin-right: 20px; border: 2px
solid #0099cc;}

.hplist p {margin: 0 0 3em 0; padding: 0;}
.hpbox {width: 250px; margin: 20px 5px 20px 50px; font-size: 90%; text-align: right;}

table.index td {font-weight: bold; text-align:center;}
h1.indexns {font-weight: bold; font-size: 120%; color: #990000; font-family: Arial, Helvetica, sans-serif;}
p.index.ns {font-size: 90%;}
.warn {color: red; text-align:center;font-weight:bold;border-bottom: 1px solid black; padding-bottom:10px;}
-->
</style>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Forthcoming events at the Department of Zoology, University of Cambridge" />
<meta name="keywords" content="forthcoming events, seminars, seminar, talks, talk" />

</head>
<body bgcolor="#ffffff" text="#000000" link="#003399" alink="#cc0000"
vlink="#cc3333">
<!-- header -->

<p class='warn'>NOTE THIS PAGE IS NOT REAL. It is a demonstration of talks.cam capabilities. See <a href='http://www.zoo.cam.ac.uk/zooone/forthcoming/tea.html'>the original page</a></p>

<table cellpadding="0" cellspacing="0" border="0" width="98%" summary="navigation bar">
<tr>
<td bgcolor="#0099cc" width="98%"><img
src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block" width="1" height="16" alt="" /></td>
<td align="right" rowspan="2">
<table cellpadding="0" cellspacing="0" border="0" summary="navigation bar insert">
<tr>
<td><a href="http://web-search.cam.ac.uk/?qp=site%3awww.zoo.cam.ac.uk"><img src="http://www.zoo.cam.ac.uk/images/search.gif" class="block" width="53" height="18" border="0" alt="Search" /></a></td>
<td><a href="http://www.cam.ac.uk/global/az.html"><img src="http://www.zoo.cam.ac.uk/images/az.gif" class="block" width="53" height="18" border="0" alt="A-Z index" /></a></td>
<td><a href="http://www.zoo.cam.ac.uk/zooone/department/contact.html"><img
src="http://www.zoo.cam.ac.uk/images/contact.gif" class="block" width="53" height="18" border="0"
alt="Contact" /></a></td>
</tr>
</table>
</td>
</tr>

<tr>
<td bgcolor="#cccccc"><img src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block"
width="1" height="2" alt="" /></td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" width="98%" summary="departmental header">
<tr>
<td width="33%"><a href="http://www.cam.ac.uk"><img src="http://www.zoo.cam.ac.uk/images/identifier2.gif" width="192"
height="46" border="0" alt="University of Cambridge Home" /></a></td>
    <td><img src="http://www.zoo.cam.ac.uk/images/headband.gif" height="46" width="330" border="0" alt="Blue animals" /></td>
<td width="33%" align="right"><img src="http://www.zoo.cam.ac.uk/images/zoo.gif" width="84" height="46" alt="Department of Zoology" /></td>
</tr>
<tr>
    <td bgcolor="#0099cc" colspan="3" height="3"><img
src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block" width="1" height="4" alt="" /></td>
</tr>

<tr>
<td bgcolor="#cccccc" colspan="3"><img
src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block" width="1" height="2" alt="" /></td>
</tr>
</table>
<!-- end header -->

<!-- breadcrumbs -->
<table cellpadding="0" cellspacing="0" border="0" width="98%" summary="breadcrumb navigation">
 <tr>
  <td><a href="http://www.cam.ac.uk/" class="bread">University&nbsp;of&nbsp;Cambridge</a>&nbsp;&gt;&nbsp;
<a href="http://www.zoo.cam.ac.uk/" class="bread">Department&nbsp;of&nbsp;Zoology</a>&nbsp;&gt;&nbsp;<font size="2"><b>Seminars and Events</b></font><!--breadcrumb-->
 </td>
 </tr>
</table>
<!-- breadcrumb-end -->

<!-- content -->
<img src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block" width="1" height="12" alt="" />
<table width="98%" cellpadding="0" cellspacing="0" border="0" summary="page content">
<tr>
<td width="20%" valign="top">
<!-- left navigation -->
<p class="nav"><a href="http://www.zoo.cam.ac.uk/index.html">Events this week</a><br />
<img src="http://www.zoo.cam.ac.uk/images/pixel.gif" width="1" height="6" alt="" /><br />
<a href="http://www.zoo.cam.ac.uk/ecolevol.html">Ecology and Evolution seminars</a><br /><img src="http://www.zoo.cam.ac.uk/images/pixel.gif" width="1" height="6" alt="" /><br />
<a href="http://www.zoo.cam.ac.uk/ecology.html">Ecology Lunchtime seminars</a><br />
<img src="http://www.zoo.cam.ac.uk/images/pixel.gif" width="1" height="6" alt="" /><br />
<span id="http://www.zoo.cam.ac.uk/activenav">Tea talks</span><br />
<img src="http://www.zoo.cam.ac.uk/images/pixel.gif" width="1" height="6" alt="" /><br />
<a href="http://www.zoo.cam.ac.uk/evodevo.html">Evolution and Development Seminar Series</a><br />
</p>
<!-- end left navigation -->
</td>
<td width="4%">&nbsp;</td>
<td width="74%" valign="top">
<!-- body text -->
<h1>Forthcoming Events </h1>

      <h2>Tea talks</h2>


   	<!-- This next line gets the content from talks.cam -->
		<script language="javascript" src="<%= @url %>"></script>
	<!-- That's all folks! -->

<!-- end content -->
</td>
</tr>
</table>

<!-- footer -->
<br />
<table cellpadding="0" cellspacing="0" border="0" width="98%" summary="footer">
<tr>
<td bgcolor="#0099cc" colspan="2"><img src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block" width="1" height="4" border="0" alt="" /></td>
</tr>

<tr>
<td bgcolor="#cccccc" colspan="2"><img src="http://www.zoo.cam.ac.uk/images/pixel.gif" class="block" width="1" height="2" border="0" alt="" /></td>
</tr>

<tr>
<td>
<div class="foot">
        <p class="footer">&copy; 2005-06 Department of Zoology, University of Cambridge<br />
Information provided by <a
href="mailto:webmaster@zoo.cam.ac.uk">webmaster@zoo.cam.ac.uk</a>.

<!--If you wish to give level of conformance after testing, edit this and uncomment it-->
<!--
<br />
<a href="http://www.w3.org/WAI/WCAG1AAA-Conformance">WAI AAA conformant</a>
-->
</p></div>
</td>

<!--  end footer -->
</tr>
</table>
</body>
</html>


