<div class='help'>
	<p>If you check this box then the talk will not be listed in the index, under 'other talks' or in search results. It will appear in any lists that include this talk.</p>
	<p>Use this if you are just practising, or if your talk isn't ready for publicity yet.</p>
</div>

<div style='height:2em;'>&nbsp;</div>