<p class='help'>If you check the box to the left then, after you click save, the speaker will be sent an e-mail message explaining how they can edit the talk.</p>
<p class='help'>No e-mail will be sent unless the organiser's and speaker's e-mail fields have an e-mail address. You can do this more than once, and in doing so send your speaker several e-mails.</p>

<div style='height:11em;'>&nbsp;</div>