<%= link_to image_tag('identifier2.gif', :alt => '[University of Cambridge]', :class => 'logo'), 'http://www.cam.ac.uk' %>
<%= link_to image_tag('reallybigtalkslogo.gif', :alt => '[Talks.cam]', :class => 'logo'), home_url %>

<div class='fullwidthlinks'>

<%= render 'shared/user_information' %>

<%= render 'shared/help'%>

</div>