td.left { display:none;}
td.related { display:none;}
table#header {display:none;}
div.line {display:none;}
div#navigation {display:none;}
div#bread {display:none;}
p.actions {display:none;}
p.rfooter {display:none;}
p.count {display:none;}