<script type="text/javascript">Behaviour.register(leftbar_rules)</script>

<div class='fullwidthlinks'>

<%= render 'shared/small_search_box'%>

<%= render 'shared/user_information' %>

<%= render 'shared/help'%>

</div>
