<!-- breadcrumbs -->

<div id="bread">
<p><a href="http://www.cam.ac.uk/">University of Cambridge</a>&nbsp;&gt;&nbsp;<%= link_to 'Talks.cam', home_url %><%= breadcrumbs %></p>
</div>
<!-- end breadcrumbs -->