<table id="header" summary="page header">
<tr>
<td class="identifier"><%= link_to image_tag('identifier2.gif', :width => "192", :height =>"46", :alt => "[University of Cambridge]"), "http://www.cam.ac.uk/"  %></td>
<td class='flash'><%= show_flash %></td>
<td class="deptitle"><%= link_to image_tag('talkslogosmall.gif', :alt => '[Talks.cam]'), home_url %></td>
</tr>
</table>
<div id="topbgline" class='line'>&nbsp;</div>
<!-- end header -->