<h2>Information on</h2>
<%= document 'Finding a talk', true %>
<%= document 'Adding a talk', true %>
<%= document 'Syndicating talks', true %>
<%= document 'Who we are', true %>
<%= link_to 'Everything else'+arrow, document_url(:name => 'documentation') %>
