<!-- header -->
<div id="navigation">
<div class="skiplink"><a href="#startcontent" accesskey="2">Skip over navigation</a>&nbsp;|&nbsp;<a href="http://www.cam.ac.uk/computing/accesskeys.html" accesskey="0">Access key help</a></div> 
<div id="insert"><span class="noshow">|</span><%= link_to image_tag('search.gif', :width => "53", :height => "18", :alt => "[Search]"), search_url, :accesskey => '4' %><span class="noshow">|</span><%= link_to image_tag('az.gif', :width => "53", :height => "18", :alt => "[A-Z Index]"), index_url %><span class="noshow">|</span><%= link_to image_tag('contact.gif', :width => "53", :height => "18", :alt => "[Contact]"), document_url(:name=>'Contact') %></div>
</div>