<h1>Change your password</h1>

<%= error_messages_for :user %>

<%= start_form_tag :action => 'update', :id => @user %>
<table>
	<tr><td>Your old password:</td><td><%= password_field :user, :existing_password %></td></tr>
	<tr><td>Your new password:</td><td><%= password_field :user, :password, :value => '' %></td></tr>
	<tr><td>Your new password again:</td><td><%= password_field :user, :password_confirmation %></td></tr>
</table>
<%= submit_tag 'Change password' %>
<%= end_form_tag %>