<%= @text %>

**********
To unsubscribe, please use this link: http://<%= @host %>/reminder (You will need to log into your talks.cam account).

If you have any questions please contact webmaster@talks.cam.ac.uk