<h1>Other lists</h1>

<% unless @list.related_lists.empty? %>

	<% for related_list in @list.related_lists %>
		<% next if related_list.list.ex_directory? %>
		<%= link_list related_list.list %>
	<% end %>

<% else %>
	<p>This will be updated at midnight.</p>
<% end %>

<h2>Other talks</h2>

<% for related_talk in @list.related_talks %>
	<% next if related_talk.talk.ex_directory? %>
	<%= link_talk related_talk.talk %>
<% end %>
