<h1>E-mail me my password</h1>
<p>Enter the email address you used to register on the system below.  A password will be emailed to you.</p>
<%= start_form_tag :action => 'send_password' %>
<p>Your e-mail address: <%= text_field_tag 'email', @email %></p>
<%= submit_tag 'Send me my password' %>
<%= end_form_tag %>

<p><%= link_to 'Return to login page', :action => 'index' %></p>
