<h1>Your password has been sent</h1>
<p>A new password has been sent to your e-mail address.</p>
<p><%= link_to 'Return to login page', login_url %></p>
<p><%= link_to 'Browse while you wait', home_url %></p>
