<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<%= render 'shared/header' %>
	<body class='<%= body_class %>'>
		<%= render 'shared/navigationbar' %>
		<%= render 'shared/headerlogos' %>
		<%= render 'shared/breadcrumbs' %>

		<table id="container" summary="page content">
			<tr>
				<td class="left">
					<%= render :partial => 'shared/sidebox' %>
				</td>
				<td class="centre">
					<a name="startcontent" id="startcontent"></a>
					<%= yield %>
				</td>
			</tr>
		</table>
		<%= render 'shared/footer'%>
	</body>
</html>
