<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<%= render :file => 'shared/header' %>
<body>
	<%= render :file => 'shared/navigationbar' %>
	<%= render :file => 'shared/headerlogos' %>
	<%= render :file => 'shared/breadcrumbs' %>
	<div id='minimal_content'>
	<%= yield %>
	</div>
	<%= render :file => 'shared/footer'%>
</body>
</html>